<table>

<% @entries.each do |entry| %>
  


    <tr>
      

      <td><h4><%= link_to truncate(entry.title, :length => 50, :separator => ' '), entry %></h4>
      <%= truncate(entry.body, :length => 100, :separator => ' ') %> <hr /></td>
      <td> <b>Author: </b> <%= entry.user.name %> <br />
        <b> Date: </b> <%= entry.created_at.to_date %> </td>
      
      
    </tr>


<% end %>
</table>